trunk/frontend/notification-gui/NotificationBean.wsdl

<definitions name='NotificationBeanService' targetNamespace='http://notify.deliveryManager.secse.eu/jaws' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://notify.deliveryManager.secse.eu/jaws' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <schema elementFormDefault='qualified' targetNamespace='http://notify.deliveryManager.secse.eu/jaws' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://notify.deliveryManager.secse.eu/jaws' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
   <complexType name='changePassword'>
    <sequence>
     <element name='email' nillable='true' type='string'/>
     <element name='oldPassword' nillable='true' type='string'/>
     <element name='newPassword' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <complexType name='changePasswordResponse'>
    <sequence/>
   </complexType>
   <complexType name='getAllInterests'>
    <sequence>
     <element name='email' nillable='true' type='string'/>
     <element name='password' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <complexType name='getAllInterestsResponse'>
    <sequence>
     <element maxOccurs='unbounded' minOccurs='0' name='result' nillable='true' type='tns:Interest'/>
    </sequence>
   </complexType>
   <complexType name='registerNotification'>
    <sequence>
     <element name='email' nillable='true' type='string'/>
     <element name='password' nillable='true' type='string'/>
     <element name='providerName' nillable='true' type='string'/>
     <element name='serviceId' nillable='true' type='string'/>
     <element name='baseServiceId' nillable='true' type='string'/>
     <element name='serviceNameRegex' nillable='true' type='string'/>
     <element name='notifyService' type='boolean'/>
     <element name='notifyFacetSchema' type='boolean'/>
     <element name='notifyFacetXml' type='boolean'/>
    </sequence>
   </complexType>
   <complexType name='registerNotificationResponse'>
    <sequence>
     <element name='result' type='int'/>
    </sequence>
   </complexType>
   <complexType name='registerNotificationUser'>
    <sequence>
     <element name='email' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <complexType name='registerNotificationUserResponse'>
    <sequence/>
   </complexType>
   <complexType name='resendPassword'>
    <sequence>
     <element name='email' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <complexType name='resendPasswordResponse'>
    <sequence/>
   </complexType>
   <complexType name='unregisterNotification'>
    <sequence>
     <element name='email' nillable='true' type='string'/>
     <element name='password' nillable='true' type='string'/>
     <element name='notificationID' type='int'/>
    </sequence>
   </complexType>
   <complexType name='unregisterNotificationResponse'>
    <sequence/>
   </complexType>
   <complexType name='unregisterNotificationUser'>
    <sequence>
     <element name='email' nillable='true' type='string'/>
     <element name='password' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <complexType name='unregisterNotificationUserResponse'>
    <sequence/>
   </complexType>
   <complexType name='Interest'>
    <sequence>
     <element name='baseServiceId' nillable='true' type='string'/>
     <element name='id' type='int'/>
     <element name='notifyFacetSpecificationSchema' type='boolean'/>
     <element name='notifyFacetSpecificationXml' type='boolean'/>
     <element name='notifyService' type='boolean'/>
     <element name='providerName' nillable='true' type='string'/>
     <element name='serviceId' nillable='true' type='string'/>
     <element name='serviceNameRegex' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <complexType name='LoginFailedException'>
    <sequence>
     <element name='message' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <complexType name='NotFoundException'>
    <sequence>
     <element name='message' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <element name='changePassword' type='tns:changePassword'/>
   <element name='changePasswordResponse' type='tns:changePasswordResponse'/>
   <element name='getAllInterests' type='tns:getAllInterests'/>
   <element name='getAllInterestsResponse' type='tns:getAllInterestsResponse'/>
   <element name='registerNotification' type='tns:registerNotification'/>
   <element name='registerNotificationResponse' type='tns:registerNotificationResponse'/>
   <element name='registerNotificationUser' type='tns:registerNotificationUser'/>
   <element name='registerNotificationUserResponse' type='tns:registerNotificationUserResponse'/>
   <element name='resendPassword' type='tns:resendPassword'/>
   <element name='resendPasswordResponse' type='tns:resendPasswordResponse'/>
   <element name='unregisterNotification' type='tns:unregisterNotification'/>
   <element name='unregisterNotificationResponse' type='tns:unregisterNotificationResponse'/>
   <element name='unregisterNotificationUser' type='tns:unregisterNotificationUser'/>
   <element name='unregisterNotificationUserResponse' type='tns:unregisterNotificationUserResponse'/>
   <element name='LoginFailedException' type='tns:LoginFailedException'/>
   <element name='NotFoundException' type='tns:NotFoundException'/>
  </schema>
 </types>
 <message name='NotFoundException'>
  <part element='tns:NotFoundException' name='NotFoundException'/>
 </message>
 <message name='LoginFailedException'>
  <part element='tns:LoginFailedException' name='LoginFailedException'/>
 </message>
 <message name='NotificationBean_unregisterNotification'>
  <part element='tns:unregisterNotification' name='parameters'/>
 </message>
 <message name='NotificationBean_unregisterNotificationResponse'>
  <part element='tns:unregisterNotificationResponse' name='result'/>
 </message>
 <message name='NotificationBean_changePassword'>
  <part element='tns:changePassword' name='parameters'/>
 </message>
 <message name='NotificationBean_changePasswordResponse'>
  <part element='tns:changePasswordResponse' name='result'/>
 </message>
 <message name='NotificationBean_registerNotification'>
  <part element='tns:registerNotification' name='parameters'/>
 </message>
 <message name='NotificationBean_registerNotificationResponse'>
  <part element='tns:registerNotificationResponse' name='result'/>
 </message>
 <message name='NotificationBean_unregisterNotificationUser'>
  <part element='tns:unregisterNotificationUser' name='parameters'/>
 </message>
 <message name='NotificationBean_unregisterNotificationUserResponse'>
  <part element='tns:unregisterNotificationUserResponse' name='result'/>
 </message>
 <message name='NotificationBean_getAllInterests'>
  <part element='tns:getAllInterests' name='parameters'/>
 </message>
 <message name='NotificationBean_resendPassword'>
  <part element='tns:resendPassword' name='parameters'/>
 </message>
 <message name='NotificationBean_getAllInterestsResponse'>
  <part element='tns:getAllInterestsResponse' name='result'/>
 </message>
 <message name='NotificationBean_resendPasswordResponse'>
  <part element='tns:resendPasswordResponse' name='result'/>
 </message>
 <message name='NotificationBean_registerNotificationUser'>
  <part element='tns:registerNotificationUser' name='parameters'/>
 </message>
 <message name='NotificationBean_registerNotificationUserResponse'>
  <part element='tns:registerNotificationUserResponse' name='result'/>
 </message>
 <portType name='NotificationBean'>
  <operation name='changePassword'>
   <input message='tns:NotificationBean_changePassword'/>
   <output message='tns:NotificationBean_changePasswordResponse'/>
   <fault message='tns:LoginFailedException' name='LoginFailedException'/>
  </operation>
  <operation name='getAllInterests'>
   <input message='tns:NotificationBean_getAllInterests'/>
   <output message='tns:NotificationBean_getAllInterestsResponse'/>
   <fault message='tns:LoginFailedException' name='LoginFailedException'/>
  </operation>
  <operation name='registerNotification'>
   <input message='tns:NotificationBean_registerNotification'/>
   <output message='tns:NotificationBean_registerNotificationResponse'/>
   <fault message='tns:LoginFailedException' name='LoginFailedException'/>
  </operation>
  <operation name='registerNotificationUser'>
   <input message='tns:NotificationBean_registerNotificationUser'/>
   <output message='tns:NotificationBean_registerNotificationUserResponse'/>
  </operation>
  <operation name='resendPassword'>
   <input message='tns:NotificationBean_resendPassword'/>
   <output message='tns:NotificationBean_resendPasswordResponse'/>
   <fault message='tns:LoginFailedException' name='LoginFailedException'/>
  </operation>
  <operation name='unregisterNotification'>
   <input message='tns:NotificationBean_unregisterNotification'/>
   <output message='tns:NotificationBean_unregisterNotificationResponse'/>
   <fault message='tns:LoginFailedException' name='LoginFailedException'/>
   <fault message='tns:NotFoundException' name='NotFoundException'/>
  </operation>
  <operation name='unregisterNotificationUser'>
   <input message='tns:NotificationBean_unregisterNotificationUser'/>
   <output message='tns:NotificationBean_unregisterNotificationUserResponse'/>
   <fault message='tns:LoginFailedException' name='LoginFailedException'/>
  </operation>
 </portType>
 <binding name='NotificationBeanBinding' type='tns:NotificationBean'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='changePassword'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='LoginFailedException'>
    <soap:fault name='LoginFailedException' use='literal'/>
   </fault>
  </operation>
  <operation name='getAllInterests'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='LoginFailedException'>
    <soap:fault name='LoginFailedException' use='literal'/>
   </fault>
  </operation>
  <operation name='registerNotification'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='LoginFailedException'>
    <soap:fault name='LoginFailedException' use='literal'/>
   </fault>
  </operation>
  <operation name='registerNotificationUser'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='resendPassword'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='LoginFailedException'>
    <soap:fault name='LoginFailedException' use='literal'/>
   </fault>
  </operation>
  <operation name='unregisterNotification'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='LoginFailedException'>
    <soap:fault name='LoginFailedException' use='literal'/>
   </fault>
   <fault name='NotFoundException'>
    <soap:fault name='NotFoundException' use='literal'/>
   </fault>
  </operation>
  <operation name='unregisterNotificationUser'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='LoginFailedException'>
    <soap:fault name='LoginFailedException' use='literal'/>
   </fault>
  </operation>
 </binding>
 <service name='NotificationBeanService'>
  <port binding='tns:NotificationBeanBinding' name='NotificationBeanPort'>
   <soap:address location='http://SeCSE:8080/notification/NotificationBean'/>
  </port>
 </service>
</definitions>